*.vscode
.aider*
Documentation_Pri/*
Tests/*

!torch


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# Avoid ignoring Flutter source code
lib/
!ba_102_fe/lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# IDEs
.idea/
*.swp
*.swo

# Project specific
postgres_data/
market-intelligence/venv/
/market-intelligence/test
