<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod = "30 seconds" >

    <!-- Console Logging-->
     <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n
            </pattern>

        </encoder>
     </appender>

     <!-- Rolling File Logging-->
      <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/budgeting-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimingBasedRollingPolicy">
        <!-- New log file daily-->
         <fileNamePattern>logs/budgeting-app-%d{yyyy-MM-dd}.log</fileNamePattern>
        <!-- max 30 days--> 
         <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
      </appender>

      <!-- root logger-->
      <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />

      </root>

      <!-- Package debugging-->
       <logger name="com.example.budgeting_app" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />

       </logger>
</configuration>